.custom-ui {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 10px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
